'fileTypes': [
  'spec.rb'
]
'name': 'RSpec'
'patterns': [
  {
    'match': '(?<!\\.)\\b(describe|context|feature)\\b'
    'name': 'keyword.other.group.rspec'
  }
  {
    'match': '(?<!\\.)\\b(it|specify|scenario)\\b'
    'name': 'keyword.other.exxample.rspec'
  }
  {
    'match': '(?<!\\.)\\b(before|after|around)\\b'
    'name': 'keyword.other.hook.rspec'
  }
  {
    'match': '(?<!\\.)\\b(subject)\\b'
    'name': 'support.function.subject.rspec'
  }
  {
    'match': '(?<!\\.)\\b(let)\\b'
    'name': 'support.function.helper.rspec'
  }
  {
    'match': '(?<!\\.)\\b(include_examples|it_behaves_like|it_should_behave_like)\\b'
    'name': 'support.function.shared.rspec'
  }
  {
    'match': '(?<!\\.)\\b(expect)\\b'
    'name': 'support.function.actual.rspec'
  }
  {
    'match': '\\b(should|should_not)\\b'
    'name': 'support.function.expectation.rspec'
  }
  {
    'match': '(?<=\\.)(should|should_not|to|not_to)\\b'
    'name': 'support.function.expectation.rspec'
  }
  {
    'match': '(?<!\\.)\\b(eq|eql|be_\\w*|include)\\b'
    'name': 'support.function.expected.rspec'
  }
  {
    'include': 'source.ruby'
  }
]
'scopeName': 'source.ruby.rspec'
